<%= render "dashboards/navbar" %>
<div class="container mt-5">
<h1 class="mb-4">User Licenses</h1>

<table class="table">
  <thead>
    <tr>
      <th>User ID</th>
      <th>KGC License</th>
      <th>TimeClock License</th>
      <th>Comment</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @license.each do |license| %>
      <tr>
        <td><%= license.userid %></td>
        <td><%= kgcstatusprettify(license) %></td>
        <td><%= timeclockstatusprettify(license) %></td>
        <td><%= license.comment %></td>
        <td>
          <% if current_admin.support? %>
            <p><i class="fa-solid fa-lock"></i> No Permission</p>
          <% else %>
            <%= link_to 'Edit', edit_license_path(license.userid), class: 'btn btn-primary' %>
            <%= link_to 'Destroy', license_path(license.userid), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if !current_admin.support? %>
<%= link_to 'New License', new_license_path, class: 'btn btn-primary' %>
<% end %>
</div>