<%= render "dashboards/navbar" %>
<% if !current_admin.superadmin? or current_admin.disabled? %>
<div class="p-5 text-white pseudo-jumbotron-withbg">
    <h1>Unauthorized</h1>
    <p>You are not authorized to view this page.</p>
</div>
<% else %>
<div class="container mt-5">
<h1 class="mb-4">Admins</h1>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Avatar</th>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Disabled</th>
        <th>Google User ID</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @admins.each do |admin| %>
        <tr>
          <td><img src=<%= admin.avatar_url.to_s %> width="32" height="32" style="border-radius:50%" alt="<%= admin.full_name %>'s Avatar"></td>
          <td><%= admin.full_name %></td>
          <td><%= admin.email %></td>
          <td><%= consolidate_roles(admin) %></td>
          <td><%= admin.disabled ? 'Yes' : 'No' %></td>
          <td><%= admin.uid %></td>
          <td>
            <%= link_to 'Profile', admin_path(admin), class: 'btn btn-info text-white' %>
            <%= link_to 'Edit', edit_admin_path(admin), class: 'btn btn-primary' %>
            <%= link_to 'Delete', admin_path(admin), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger text-white' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>
<% end %>