<% if ipbanned?(request.remote_ip) %>
<%= render "admins/sessions/guestnavbar" %>
<div class="container mt-4">
    <div class="row justify-content-center"> <!-- BEGIN: Center the row -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div>
                            <h1>Forbidden</h1>
                            <p>You have been banned from using this service for the following reason: <br />
                            <%= banreason(request.remote_ip) %><br />
                            Your ban will expire on <%= expirationdate(request.remote_ip) %>.</p>
                            <% if appealable?(request.remote_ip) %>
                            <p>You may appeal this ban in our Discord server.<br />
                            <a href="https://discord.gg/XKyVh9hMf7" class="btn btn-primary"><i class="fa-brands fa-discord"></i> Invite link</a></p>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% else %>
<script type="text/javascript">
  window.location.href = "<%= root_url %>";
</script>
<p>If you've not been redirected, click <a href="<%= root_url %>">here</a>.</p>
<% end %>