<%= render "dashboards/navbar" %>
<% if current_admin.disabled? %>
<div class="p-5 text-white pseudo-jumbotron-withbg">
    <h1>Unauthorized</h1>
    <p>You are not authorized to view this page.</p>
</div>
<% else %>
<div class="container mt-5">
  <h1 class="mb-4">User Blacklist</h1>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">User ID</th>
        <th scope="col">Reason</th>
        <th scope="col">Level</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
    <% if @user_blacklist %>
        <% @user_blacklist.each do |user_blacklist| %>
            <tr>
                <td><%= user_blacklist.userid %></td>
                <td><%= user_blacklist.reason %></td>
                <td><%= consolidatestatus(user_blacklist) %></td>
                <td>
                    <% if current_admin.support? or current_admin.lesseradmin? %>
                        <p><i class="fa-solid fa-lock"></i> No Permission</p>
                    <% else %>
                        <%= link_to 'Edit', edit_user_blacklist_path(user_blacklist.userid), class: 'btn btn-warning text-white' %>
                        <%= link_to 'Destroy', user_blacklist_path(user_blacklist.userid), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger text-white' %>
                    <% end %>
                </td>
            </tr>
        <% end %>
    <% end %>
    </tbody>
    </table>

  <%= link_to 'New User Blacklist', new_user_blacklist_path, class: 'btn btn-primary' %>
</div>
<% end %>